<div class="error__content">
    <h2 class="error__value">{{value}}</h2>
    <span class="error__description">{{description}}</span>
    <a href="./index.hbs" class="error__link">Назад к чатам</a>
</div>